Repository Chronovyan/4everCode, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pioneertrail/team-core, @pioneertrail/team-compiler, @pioneertrail/team-interpreter, @pioneertrail/team-stdlib, @pioneertrail/team-temporal, @pioneertrail/team-docs, @pioneertrail/team-qa, @pioneertrail/team-examples, @pioneertrail/team-infra

Fix GitHub Actions workflow dependencies
  .github/workflows/gh-pages.yml
Owners: @pioneertrail/team-infra

Fix YAML syntax and configuration in mkdocs.yml
  mkdocs.yml
Owners: @pioneertrail/team-core

Add detailed debugging to GitHub Actions workflow
  .github/workflows/gh-pages.yml
Owners: @pioneertrail/team-infra

Update navigation to match existing documentation structure
  mkdocs.yml
Owners: @pioneertrail/team-core

Update GitHub Actions to use latest versions
  .github/workflows/ci.yml
  .github/workflows/gh-pages.yml
Owners: @pioneertrail/team-infra

Fix CI workflow: improve test result handling and CMake configuration
  .github/workflows/ci.yml
Owners: @pioneertrail/team-infra

Update CI workflow: fix test result handling and disable non-essential jobs
  .github/workflows/ci.yml
Owners: @pioneertrail/team-infra

Fix CI build issues and improve test infrastructure
  .github/workflows/ci.yml
  CMakeLists.txt
  src/advanced_optimization_algorithms.cpp
  tests/CMakeLists.txt
Owners: @pioneertrail/team-infra, @pioneertrail/team-core

Fix CMake configuration error in tests
  tests/CMakeLists.txt
Owners: @pioneertrail/team-infra

ci: update GitHub Pages workflow with better logging and dependencies
  .github/workflows/gh-pages.yml
Owners: @pioneertrail/team-infra

ci: switch to JamesIves/github-pages-deploy-action for gh-pages deployment
  .github/workflows/gh-pages.yml
Owners: @pioneertrail/team-infra

fix: downgrade mkdocs-minify-plugin to 0.8.0 to resolve installation error
  .github/workflows/gh-pages.yml
Owners: @pioneertrail/team-infra

ci: update workflow permissions and deployment configuration
  .github/workflows/gh-pages.yml
Owners: @pioneertrail/team-infra

ci: switch to official GitHub Pages deployment action
  .github/workflows/gh-pages.yml
Owners: @pioneertrail/team-infra

ci: switch to ghp-import for GitHub Pages deployment
  .github/workflows/gh-pages.yml
Owners: @pioneertrail/team-infra

ci: switch to GitHub Pages deployment with separate build and deploy jobs
  .github/workflows/gh-pages.yml
Owners: @pioneertrail/team-infra

Revert to working ghp-import workflow
  .github/workflows/gh-pages.yml
Owners: @pioneertrail/team-infra

Fix build: Disable strict mode in mkdocs.yml to prevent build failures from warnings
  mkdocs.yml
Owners: @pioneertrail/team-core

Fix build: Remove --strict flag from build command
  .github/workflows/gh-pages.yml
Owners: @pioneertrail/team-infra

Update GitHub Pages workflow to use official GitHub Actions deployment
  .github/workflows/gh-pages.yml
Owners: @pioneertrail/team-infra

Fix mkdocs-minify-plugin version to 0.8.0
  .github/workflows/gh-pages.yml
Owners: @pioneertrail/team-infra

Update README.md to accurately represent Chronovyan as a temporal programming language
  README.md
Owners: @pioneertrail/team-core

fix: correct GitHub Pages workflow configuration
  .github/workflows/gh-pages.yml
Owners: @pioneertrail/team-infra

fix: update MkDocs configuration and dependencies
  .github/workflows/gh-pages.yml
  mkdocs.yml
Owners: @pioneertrail/team-infra, @pioneertrail/team-core

fix: correct package name for markdown-extended
  .github/workflows/gh-pages.yml
  mkdocs.yml
Owners: @pioneertrail/team-infra, @pioneertrail/team-core

fix: remove non-existent markdown-extended plugin
  .github/workflows/gh-pages.yml
  mkdocs.yml
Owners: @pioneertrail/team-infra, @pioneertrail/team-core

fix: add mkdocs-awesome-pages-plugin to workflow
  .github/workflows/gh-pages.yml
Owners: @pioneertrail/team-infra

fix: add mkdocs-markdownextradata-plugin to workflow
  .github/workflows/gh-pages.yml
Owners: @pioneertrail/team-infra

fix: add all required MkDocs plugins to workflow
  .github/workflows/gh-pages.yml
Owners: @pioneertrail/team-infra

fix: restore corrupted temporal_timeline.md file
  docs/temporal_timeline.md
Owners: @pioneertrail/team-docs

fix: pin mkdocs-git-committers-plugin to version 0.5.2
  .github/workflows/gh-pages.yml
Owners: @pioneertrail/team-infra

fix: update mkdocs-git-committers-plugin-2 to version 2.5.0
  .github/workflows/gh-pages.yml
Owners: @pioneertrail/team-infra

fix: remove git-committers plugin causing build issues
  .github/workflows/gh-pages.yml
  mkdocs.yml
Owners: @pioneertrail/team-infra, @pioneertrail/team-core

fix: escape curly braces in temporal_timeline.md to prevent Jinja2 errors
  docs/temporal_timeline.md
Owners: @pioneertrail/team-docs

docs: update navigation and fix file structure
  docs/index.md
  mkdocs.yml
Owners: @pioneertrail/team-docs, @pioneertrail/team-core

ci: update workflow to use gh-pages-new branch
  .github/workflows/gh-pages.yml
Owners: @pioneertrail/team-infra

ci: update workflow dependencies and deployment
  .github/workflows/gh-pages.yml
Owners: @pioneertrail/team-infra

docs: update site_url in mkdocs.yml
  mkdocs.yml
Owners: @pioneertrail/team-core

ci: remove problematic dependency and fix deployment URL
  .github/workflows/gh-pages.yml
Owners: @pioneertrail/team-infra

docs: enhance documentation with modern design and improved navigation
  docs/css/extra.css
  docs/index.md
  docs/js/extra.js
  mkdocs.yml
Owners: @pioneertrail/team-docs, @pioneertrail/team-core

.github/CODEOWNERS:

# Default owners for everything in the repo
* @pioneertrail/team-core

# Core components
/src/compiler/ @pioneertrail/team-compiler
/src/interpreter/ @pioneertrail/team-interpreter
/src/stdlib/ @pioneertrail/team-stdlib
/src/temporal/ @pioneertrail/team-temporal

# Documentation
/docs/ @pioneertrail/team-docs

# Tests
/tests/ @pioneertrail/team-qa

# Examples
/examples/ @pioneertrail/team-examples

# Infrastructure
.github/ @pioneertrail/team-infra
scripts/ @pioneertrail/team-infra

# Build system
CMakeLists.txt @pioneertrail/team-infra
*.cmake @pioneertrail/team-infra
