Repository Chronovyan/4everCode, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pioneertrail/team-core, @pioneertrail/team-compiler, @pioneertrail/team-interpreter, @pioneertrail/team-stdlib, @pioneertrail/team-temporal, @pioneertrail/team-docs, @pioneertrail/team-qa, @pioneertrail/team-examples, @pioneertrail/team-infra

.github/CODEOWNERS:

# Default owners for everything in the repo
* @pioneertrail/team-core

# Core components
/src/compiler/ @pioneertrail/team-compiler
/src/interpreter/ @pioneertrail/team-interpreter
/src/stdlib/ @pioneertrail/team-stdlib
/src/temporal/ @pioneertrail/team-temporal

# Documentation
/docs/ @pioneertrail/team-docs

# Tests
/tests/ @pioneertrail/team-qa

# Examples
/examples/ @pioneertrail/team-examples

# Infrastructure
.github/ @pioneertrail/team-infra
scripts/ @pioneertrail/team-infra

# Build system
CMakeLists.txt @pioneertrail/team-infra
*.cmake @pioneertrail/team-infra

ci: update GitHub Actions workflow to show deployment status
  .github/workflows/gh-pages.yml
Owners: @pioneertrail/team-infra

ci: optimize GitHub Actions workflow to prevent duplicate runs
  .github/workflows/gh-pages.yml
Owners: @pioneertrail/team-infra

ci: switch to JamesIves/github-pages-deploy-action for deployment
  .github/workflows/gh-pages.yml
Owners: @pioneertrail/team-infra

docs: Add comprehensive documentation for Chronovyan
  .github/workflows/gh-pages.yml
  docs/api.md
  docs/concepts/concurrency.md
  docs/concepts/index.md
  docs/concepts/resource_management.md
  docs/concepts/temporal_programming.md
  docs/examples.md
  docs/examples/temporal_examples.md
  docs/getting-started/installation.md
  docs/index.md
  docs/reference/api_reference.md
  docs/reference/language_specification.md
Owners: @pioneertrail/team-infra, @pioneertrail/team-docs

Deploying to gh-pages from @ Chronovyan/Chronovyan.github.io@9940108208032a7ae7538eb413610bc00277d131 🚀
  CONTRIBUTING/index.html
  api/index.html
  concepts/concurrency/index.html
  concepts/index.html
  concepts/resource_management/index.html
  concepts/temporal_programming/index.html
  examples/hello_world/index.html
  examples/index.html
  examples/temporal_examples/index.html
  getting-started/first-steps/index.html
  getting-started/installation/index.html
  getting-started/quickstart/index.html
  index.html
  reference/api_reference/index.html
  reference/index.html
  reference/language_specification/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Owners: @pioneertrail/team-core, @pioneertrail/team-examples

fix: Update GitHub Actions workflow and MkDocs configuration
  .github/workflows/gh-pages.yml
  mkdocs.yml
Owners: @pioneertrail/team-infra, @pioneertrail/team-core

fix: Clean up and fix mkdocs.yml configuration
  mkdocs.yml
Owners: @pioneertrail/team-core

fix: Simplify and fix mkdocs.yml configuration
  mkdocs.yml
Owners: @pioneertrail/team-core

fix: Update TOC configuration to use valid options
  mkdocs.yml
Owners: @pioneertrail/team-core

fix: Simplify emoji configuration to use defaults
  mkdocs.yml
Owners: @pioneertrail/team-core

fix: Remove duplicate search configuration
  mkdocs.yml
Owners: @pioneertrail/team-core

fix: Update broken links in documentation
  docs/examples/hello_world.md
  docs/examples/index.md
  docs/getting-started/first-steps.md
  docs/index.md
Owners: @pioneertrail/team-docs

fix: Remove all broken links from documentation
  docs/examples/index.md
  docs/index.md
Owners: @pioneertrail/team-docs

config: Update MkDocs validation settings
  mkdocs.yml
Owners: @pioneertrail/team-core

fix: Correctly disable strict mode in MkDocs configuration
  mkdocs.yml
Owners: @pioneertrail/team-core

refactor: Simplify mkdocs.yml to minimal working configuration
  mkdocs.yml
Owners: @pioneertrail/team-core

Deploying to gh-pages from @ Chronovyan/Chronovyan.github.io@c21c36a1a4454c698c268bed219955fe278f3c6e 🚀
  404.html
  CONTRIBUTING/index.html
  api/index.html
  concepts/concurrency/index.html
  concepts/index.html
  concepts/resource_management/index.html
  concepts/temporal_programming/index.html
  examples/hello_world/index.html
  examples/index.html
  examples/temporal_examples/index.html
  getting-started/first-steps/index.html
  getting-started/installation/index.html
  getting-started/quickstart/index.html
  index.html
  reference/api_reference/index.html
  reference/index.html
  reference/language_specification/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Owners: @pioneertrail/team-core, @pioneertrail/team-examples

Update documentation and site content
  docs/concepts/index.md
  docs/concepts/temporal_programming.md
  docs/index.md
  mkdocs.yml
  site/getting-started/installation/index.html
  site/getting-started/quickstart/index.html
  site/index.html
Owners: @pioneertrail/team-docs, @pioneertrail/team-core

Simplify GitHub Pages workflow for single-branch development
  .github/workflows/gh-pages.yml
Owners: @pioneertrail/team-infra

Test: Trigger GitHub Pages deployment
  docs/index.md
Owners: @pioneertrail/team-docs

Switch to GitHub Pages with Jekyll for simpler deployment
  .github/workflows/gh-pages.yml
  .github/workflows/tests.yml
  _config.yml
  index.html
Owners: @pioneertrail/team-infra, @pioneertrail/team-core

Simplify GitHub Actions workflow for MkDocs deployment
  .github/workflows/gh-pages.yml
  _config.yml
  index.html
Owners: @pioneertrail/team-infra, @pioneertrail/team-core

Add CNAME for custom domain
  docs/CNAME
Owners: @pioneertrail/team-docs

Create CNAME
  CNAME
Owners: @pioneertrail/team-core

Simplify index.md for better GitHub Pages compatibility
  docs/index.md
Owners: @pioneertrail/team-docs

Add Jekyll theme configuration
  Gemfile
  docs/.nojekyll
  docs/_config.yml
Owners: @pioneertrail/team-core, @pioneertrail/team-docs

Revert to basic Markdown rendering
  Gemfile
  docs/.nojekyll
  docs/_config.yml
Owners: @pioneertrail/team-core, @pioneertrail/team-docs

Fix broken Get Started link
  docs/index.md
Owners: @pioneertrail/team-docs

Update .gitignore to exclude build artifacts and temporary files
  .gitignore
Owners: @pioneertrail/team-core

docs: update variable declaration syntax to use DECLARE instead of LET
  docs/chronicle_bytecode_format.md
  docs/chronicle_ir_design.md
  docs/concepts/concurrency.md
  docs/concepts/resource_management.md
  docs/concepts/temporal_programming.md
  docs/deja_vu_debugger_design.md
  docs/lexer_parser_design.md
  docs/reference/api_reference.md
  docs/reference/language_specification.md
Owners: @pioneertrail/team-docs

ci: update GitHub Pages workflow and fix site configuration
  .github/workflows/gh-pages.yml
  docs/mkdocs.yml
Owners: @pioneertrail/team-infra, @pioneertrail/team-docs

fix: correct markdown linter package name in workflow
  .github/workflows/gh-pages.yml
Owners: @pioneertrail/team-infra

ci: remove markdown linting step to unblock deployment
  .github/workflows/gh-pages.yml
Owners: @pioneertrail/team-infra

Update CNAME
  docs/CNAME
Owners: @pioneertrail/team-docs

ci: add GitHub Actions workflow for automated documentation deployment
  .github/workflows/deploy-docs.yml
Owners: @pioneertrail/team-infra

fix(ci): correct syntax error in GitHub Actions workflow
  .github/workflows/deploy-docs.yml
Owners: @pioneertrail/team-infra

Update CNAME to use forevercode.chronovyan.com
  CNAME
Owners: @pioneertrail/team-core

Update theme to match Cosmic Flow brand colors and typography
  docs/assets/images/social/core-concepts-preview.html
  docs/assets/stylesheets/extra.css
  docs/mkdocs.yml
  docs/scripts/generate-social-image.js
Owners: @pioneertrail/team-docs, @pioneertrail/team-infra

Update GitHub Pages workflow to properly deploy from main to gh-pages
  .github/workflows/gh-pages.yml
Owners: @pioneertrail/team-infra

Fix YAML syntax in mkdocs.yml
  docs/mkdocs.yml
Owners: @pioneertrail/team-docs
