Repository Chronovyan/4everCode, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pioneertrail/team-core, @pioneertrail/team-compiler, @pioneertrail/team-interpreter, @pioneertrail/team-stdlib, @pioneertrail/team-temporal, @pioneertrail/team-docs, @pioneertrail/team-qa, @pioneertrail/team-examples, @pioneertrail/team-infra

.github/CODEOWNERS:

# Default owners for everything in the repo
* @pioneertrail/team-core

# Core components
/src/compiler/ @pioneertrail/team-compiler
/src/interpreter/ @pioneertrail/team-interpreter
/src/stdlib/ @pioneertrail/team-stdlib
/src/temporal/ @pioneertrail/team-temporal

# Documentation
/docs/ @pioneertrail/team-docs

# Tests
/tests/ @pioneertrail/team-qa

# Examples
/examples/ @pioneertrail/team-examples

# Infrastructure
.github/ @pioneertrail/team-infra
scripts/ @pioneertrail/team-infra

# Build system
CMakeLists.txt @pioneertrail/team-infra
*.cmake @pioneertrail/team-infra

Fix YAML escape character in RSS plugin config
  docs/mkdocs.yml
Owners: @pioneertrail/team-docs

Fix configuration issues: create .overrides dir, update RSS plugin config, fix repo URL
  docs/mkdocs.yml
Owners: @pioneertrail/team-docs

Fix configuration: update RSS plugin, add watch config, ensure .overrides exists
  docs/.overrides/.gitkeep
  docs/mkdocs.yml
Owners: @pioneertrail/team-docs

Fix requirements file path in workflow
  .github/workflows/gh-pages.yml
Owners: @pioneertrail/team-infra

Fix requirements file path in workflow (use docs/requirements-dev.txt)
  .github/workflows/gh-pages.yml
Owners: @pioneertrail/team-infra

Fix RSS plugin configuration: update date_from_meta format
  docs/mkdocs.yml
Owners: @pioneertrail/team-docs

Remove non-standard watch configuration
  docs/mkdocs.yml
Owners: @pioneertrail/team-docs

Fix YAML syntax: remove duplicate features section
  docs/mkdocs.yml
Owners: @pioneertrail/team-docs

Move mkdocs.yml to root directory and update paths
  .github/workflows/gh-pages.yml
  mkdocs.yml
Owners: @pioneertrail/team-infra, @pioneertrail/team-core

Fix paths for custom_dir and docs_dir
  mkdocs.yml
Owners: @pioneertrail/team-core

Add includes directory and update GitHub Actions workflow
  .github/workflows/gh-pages.yml
  docs/includes/.gitkeep
Owners: @pioneertrail/team-infra, @pioneertrail/team-docs

Update macros plugin include_dir to use absolute path
  mkdocs.yml
Owners: @pioneertrail/team-core

Temporarily disable strict mode to see validation warnings
  mkdocs.yml
Owners: @pioneertrail/team-core

Fix MkDocs build and deployment configuration
  docs/index.md
  docs/mkdocs.yml
  mkdocs.yml
Owners: @pioneertrail/team-docs, @pioneertrail/team-core

Fix CNAME file inclusion in MkDocs build
  mkdocs.yml
Owners: @pioneertrail/team-core

Backup current state before documentation restoration
  chronovyan/event.py
  chronovyan/timeline.py
  conftest.py
  pytest.ini
  tests/__init__.py
  tests/conftest.py
  tests/integration/__init__.py
  tests/unit/__init__.py
Owners: @pioneertrail/team-core, @pioneertrail/team-qa
